/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500&family=Roboto:wght@100;300;400&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body{
  max-width: 100vw;
}

.section-navbar {
  width: 100%;
  background-color: #ffc017;
  border-bottom: 1px solid rgb(28, 28, 28);
  position: sticky;
}

.nav-container-fluid {
  padding-left: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  font-family: "Roboto Serif", serif;
}

.navbar-brand > img {
  width: 40px;
  margin-right: 5px;
}

.navbar-brand > span {
  font-size: 30px;
  font-weight: 600;
}

#navbarNav {
  position: absolute;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
}

#navbarNav > ul > li {
  margin-right: 12px;
}

.button-v1 {
  border-radius: 99em;
  background-color: rgb(28, 28, 28);
  color: whitesmoke;
  padding: 8px 16px;
  border: none;
}

.section-header {
  width: 100%;
  background-color: #ffc017;
  padding: 20px 0;
  border-bottom: 1px solid rgb(28, 28, 28);
  margin-bottom: 40px;
}

.header-container {
  padding: 0 33px;
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text > h1{
  font-size: 100px;
  color: rgb(28, 28, 28);
}

.header-text > p{
  font-size: 24px;
  margin: 10px 0 50px;
}

.header-text > button{
  width: 240px;
  font-size: 20px;
  margin-bottom: 20px;
}

.header-img > img {
  border-radius: 50%;
  width: 100%;
  max-width: 40vw;
}

.trending-container{
  padding: 0 33px;
}

.section-trending{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.trending{
  margin-bottom: 10px;
  margin-left: 4px;
}

.trending > span{
  margin-left: 10px;
}

.blog-col{
  display: flex;
}

.blog-number{
  font-size: 36px;
  color: #e0e0e0;
  font-weight: 600;
  margin-right: 20px;
}

.blog-info{
  padding: 12px 0 0 0;
}

.blog-author{
  display: flex;
  margin-bottom: 10px;
}

.blog-author > img{
  width: 20px;
  height: fit-content;
  margin-right: 10px;
  border-radius: 50%;
}

.blog-author > h5{
  font-size: 14px;
  font-weight: 600;
}

.blog-title{
  font-size: 16px;
  font-weight: 700;
}

.description-small{
  font-weight: 300;
  font-size: 13px;
}

.articles-container{
  padding: 0 33px;
}

.article-title{
  font-size: 19px;
  font-weight: 700;
}

.article-intro{
  font-size: 16px;
  color: #767676;
}







@media (max-width: 991px) {
  #navbarNav {
    position: inherit;
    right: auto;
  }

  #navbarNav > ul > li {
    margin-bottom: 5px;
  }

  .header-text > h1{
    font-size: 40px;
    font-weight: 600;
  }

  .header-text > p {
    font-size: 20px;
  }

  .header-img {
    padding: 0;
  }

  .header-img > img {
    display: none;
  }
}
